# Correlation Between Public Transport and Traffic of Congestion Charge Zone in Greater London Area

## Public Transport Journeys Type
source: https://data.london.gov.uk/dataset/public-transport-journeys-type-transport

## Vehicles Entering C-Charge Zone in Greater London Area
source :https://data.london.gov.uk/dataset/vehicles-entering-c-charge-zone-month

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
publicTransport = pd.read_csv("tfl-journeys-type.csv")
publicTransport.tail()

,Period and Financial year,Reporting Period,Days in period,Period beginning,Period ending,Bus journeys (m),Underground journeys (m),DLR Journeys (m),Tram Journeys (m),Overground Journeys (m),London Cable Car Journeys (m),TfL Rail Journeys (m)
170,02_23/24,2,28,30-Apr-23,27-May-23,146.0,88.2,7.7,1.6,14.1,0.1,15.1
171,03_23/24,3,28,28-May-23,24-Jun-23,145.8,90.2,7.9,1.7,14.6,0.1,16.0
172,04_23/24,4,28,25-Jun-23,22-Jul-23,147.1,94.1,7.9,1.6,14.3,0.1,16.7
173,05_23/24,5,28,23-Jul-23,19-Aug-23,129.7,86.6,7.2,1.4,12.4,0.2,15.4
174,06_23/24,6,28,20-Aug-23,16-Sep-23,139.8,83.7,7.3,1.7,13.8,0.2,15.6

In [5]:
traffic = pd.read_csv('tfl-vehicles-c-charge-zone.csv')

traffic.head()

,Month,CC Camera Captures during Charging Hours,CC Confirmed Vehicles observed during Charging Hours,Number of Charging Day in Month,Notes
0,Jul-10,5615063,NaN,22,NaN
1,Aug-10,5174428,NaN,21,30 Aug Non Charging Day
2,Sep-10,6198427,NaN,22,NaN
3,Oct-10,6001932,NaN,21,NaN
4,Nov-10,6430184,NaN,22,NaN

# Data Cleaning

Replaced all NaN values with 0.0