# London Public Transport Data by Type of Transport
## About Dataset
Content

Number of journeys on the public transport network by TFL reporting period, by type of transport. Data is broken down by bus, underground, DLR, tram, Overground and cable car.

- Period lengths are different in periods 1 and 13, and the data is not adjusted to account for that.
- Docklands Light Railway journeys are based on automatic passenger counts at stations.
- Overground and Tram journeys are based on automatic on-carriage passenger counts.
- Reliable Overground journey numbers have only been available since October 2010.

Acknowledgements

London Government <br>
Transport for London(TFL)

source: https://www.kaggle.com/datasets/codebreaker619/london-public-transport-data-by-type-of-transport/

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("tfl-journeys-type.csv")
df.head()

,Period and Financial year,Reporting Period,Days in period,Period beginning,Period ending,Bus journeys (m),Underground journeys (m),DLR Journeys (m),Tram Journeys (m),Overground Journeys (m),Emirates Airline Journeys (m),TfL Rail Journeys (m)
0,01_10/11,1.0,31.0,01-Apr-10,01-May-10,189.1,90.5,6.3,2.3,NaN,NaN,NaN
1,02_10/11,2.0,28.0,02-May-10,29-May-10,181.6,84.5,5.8,2.2,NaN,NaN,NaN
2,03_10/11,3.0,28.0,30-May-10,26-Jun-10,175.9,84.3,5.8,2.1,NaN,NaN,NaN
3,04_10/11,4.0,28.0,27-Jun-10,24-Jul-10,183.4,86.5,6.1,2.1,NaN,NaN,NaN
4,05_10/11,5.0,28.0,25-Jul-10,21-Aug-10,160.4,82.9,5.8,2.0,NaN,NaN,NaN

# Data Cleaning

Replaced all NaN values with 0.0

In [11]:
df = df.fillna(0)
df.head()

,Period and Financial year,Reporting Period,Days in period,Period beginning,Period ending,Bus journeys (m),Underground journeys (m),DLR Journeys (m),Tram Journeys (m),Overground Journeys (m),Emirates Airline Journeys (m),TfL Rail Journeys (m)
0,01_10/11,1.0,31.0,01-Apr-10,01-May-10,189.1,90.5,6.3,2.3,0.0,0.0,0.0
1,02_10/11,2.0,28.0,02-May-10,29-May-10,181.6,84.5,5.8,2.2,0.0,0.0,0.0
2,03_10/11,3.0,28.0,30-May-10,26-Jun-10,175.9,84.3,5.8,2.1,0.0,0.0,0.0
3,04_10/11,4.0,28.0,27-Jun-10,24-Jul-10,183.4,86.5,6.1,2.1,0.0,0.0,0.0
4,05_10/11,5.0,28.0,25-Jul-10,21-Aug-10,160.4,82.9,5.8,2.0,0.0,0.0,0.0